<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/papercss@1.9.1/dist/paper.css">
    <title>Document</title>
</head>
<body>
<form action="/" method="post">
    Your name: <input type="text" name="sender" id="">
    Your message: <input type="text" name="message" id="">
    <input type="submit" value="Send">
</form>
</body>
<td></td>
<td></td>
<td><input type="submit" value="Delete"></td>
</html>